.cardList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F9F7F3;
}

@media (min-width:900px){
    .cardList{
        margin-left: 20%;
        width: 80%;
    }
}