.card {
    display: flex;
    border-radius: 10px;
    width: 80%;
    margin: 30px;
    padding: 10px;
    background-color: rgba(168,194,228,.96);



    img {
        width: auto;
        height: 200px;
    }

    .cardData{
        padding: 0px 10px 10px 10px;


        li {
            list-style: none;
        }
    }
}